<section id="successtitle">
    <div class="container text-center">
        <h1 class="font-weight-bold jumbotitle " style="color:white;">Thank you.</h1>
        <h5 class="font-weight-bold jumbotitle " style="color:white ;">Your order has been successfully placed. Please check your email for your order.</h5>
        <a href="/" style="color:white ;">â†  Return to the main menu</a>
    </div>
</section>